<header class="mdc-top-app-bar app-bar" id="app-bar">
  <div class="mdc-top-app-bar__row">
    <section
      class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
    >
      <button
        class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
        aria-label="Open navigation menu"
      >
        menu
      </button>
      <span class="mdc-top-app-bar__title">Projector @ Hana</span>
    </section>
    <section
      class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-menu-surface--anchor"
      role="toolbar"
    >
      <button
        class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
        aria-label="My account"
        id="account_button"
      >
        account_circle
      </button>
      <div class="mdc-menu mdc-menu-surface">
        <ul
          class="mdc-list"
          role="menu"
          aria-hidden="true"
          aria-orientation="vertical"
          tabindex="-1"
        >
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__text">A Menu Item</span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__ripple"></span>
            <span class="mdc-list-item__text">Another Menu Item</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</header>
<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__content">
    <nav class="mdc-list">
      <a
        class="mdc-list-item mdc-list-item--activated"
        href="#"
        aria-current="page"
        tabindex="0"
      >
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >inbox</i
        >
        <span class="mdc-list-item__text">Inbox</span>
      </a>
      <a class="mdc-list-item" href="#">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >send</i
        >
        <span class="mdc-list-item__text">Outgoing</span>
      </a>
      <a class="mdc-list-item" href="#">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true"
          >drafts</i
        >
        <span class="mdc-list-item__text">Drafts</span>
      </a>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
