<!DOCTYPE html>
<html>
  <head>
    <title>Projector</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/dashboard.css') }}"
    />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
  </head>

  <body>
    {% include "appbar.html" %}
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
      <main class="main-content" id="main-content">
        {% block content %}
        {% endblock %}
      </main>
    </div>
    <script src="{{ url_for('static', filename='dist/dashboard.js') }}"></script>
  </body>
</html>
