{% extends 'base.html' %}
{% block content %}
<div class="mdc-data-table__table-container">
  <table class="mdc-data-table__table" aria-label="Posts">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
          제목
        </th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
          프로젝트
        </th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
          작성자
        </th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">
          작성일
        </th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
      {% if post_list %} {% for post in post_list %}
      <tr class="mdc-data-table__row">
        <th class="mdc-data-table__cell" scope="row">
          <a href="{{ url_for('post.post_detail', postid=post.postid) }}">
            {{ post.title }}
          </a>
        </th>
        <td class="mdc-data-table__cell">{{ post.project.name }}</td>
        <td class="mdc-data-table__cell">{{ post.author }}</td>
        <td class="mdc-data-table__cell">{{ post.creation_date }}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
