<!DOCTYPE html>
<html>
  <head>
    <title>Projector</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <meta charset="UTF-8" />
  </head>

  <body>
    <div class="container">
      <section class="header">
        <h1 class="title-text">Projector @ Hana</h1>
        <span>하나고등학교 프로젝트 사이트</span>
        <br>
        <a href="/googlelogin">하나고등학교 G Suite 계정으로 로그인</a>
      </section>
    </div>
  </body>
</html>
